@keyframes float {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

@keyframes dim {
  0% {
    opacity: 0.85;
  }

  100% {
    opacity: 1;
  }
}

@keyframes text-glow {
  0% {
    text-shadow: 0 0 5px;
  }

  100% {
    text-shadow: 0 0 15px;
  }
}

html {
  background: #291119;
  font: 16px georgia;
  color: #f1f2ed;
}

a {
  transition: all ease 0.1s;
  color: inherit;
  text-decoration: none;
  color: #cee0b1;
}

a:visited {
  color: #c1c2bd;
}

a:hover {
  text-decoration: underline;
}

/**
 * Hero styles
 */

.hero {
  margin: -2rem auto 4.5rem;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.hero-heading {
  animation-name: text-glow;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4, start);
  margin-bottom: 2.5rem;
  display: inline-block;
  font: 5rem memoriam-headline-pro, cursive;
  text-align: center;
  text-shadow: 0 0 15px;
  color: #cee0b1;
}

.hero-heading::before {
  content: 'the';
  font-size: 1rem;
  position: relative;
  top: -5rem;
}

.hero-subheading {
  font: 1rem poynter-oldstyle-display, adobe-garamond-pro, georgia, serif;
  font-style: italic;
  position: absolute;
  right: 0;
  bottom: 2rem;
  font-weight: 100;
}

/**
 * Quote styles
 */

.quote {
  display: inline-block;
  text-align: left;
  padding-left: 4ex;
}

.quote-attribution {
  display: block;
  padding-left: 4ex;
}

/**
 * Directory styles
 */

.directory {
  margin: 0 auto;
  position: relative;
  font: 1.5rem poynter-oldstyle-display, adobe-garamond-pro, georgia, serif;
  width: 30%;
}

.directory-index {
  margin: 0;
  padding-right: 20px;
  transform: translateX(-100%);
  position: absolute;
  font-family: memoriam-headline-pro, cursive;
  font-size: 1em;
  font-weight: normal;
}

.directory-listing {
  margin: 0;
  padding: 0;
  font-family: memoriam-headline-pro, cursive;
  list-style: none;
}

.directory-listing li {
  margin: 0.5rem 0 1.5rem;
}

.directory-tags {
  line-height: 0.5;
}

.directory-tag {
  font-family: poynter-oldstyle-display, adobe-garamond-pro, georgia, serif;
  font-size: 0.6em;
  font-style: italic;
}

.directory-tag::after {
  content: ',';
}

.directory-tag:last-child::after {
  content: '';
}

/**
 * Content warning styles
 */

.cw {
  color: #d33;
}

/**
 * Comic styles
 */

.comic-page {
  margin: 5vh auto;
  text-align: center;
  max-width: 85%;
}

.comic-page > img {
  max-width: 100%;
}

/**
 * PIP video styles
 */

.pip-video {
  border: 6px solid #fff;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  position: fixed;
  top: 1rem;
  left: 1rem;
  max-width: 20vw;
}

.pip-video > iframe {
  display: block;
  width: 100%;
  height: 56.25%;
}

/*
 * Default styles
 */

#sound-button {
  background-repeat: no-repeat;
  border-color: #fff;
  display: block;
  cursor: pointer;
}

#sound-button::before {
  border: 16px solid transparent;
  border-color: inherit;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right-color: transparent;
  content: '';
  display: block;
  width: 0;
  height: 0;
}

#sound-button.pause::before {
  border: 6px solid transparent;
  border-color: inherit;
  border-top: 0 solid transparent;
  border-bottom: 0 solid transparent;
  content: '';
  display: block;
  width: 6px;
  height: 20px;
}

/*
 * Classes for applying animations
 */

/* moves the element vertically up and down in steps */
.pixel-float-animation {
  animation-name: float;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4, start);
}

.dim-animation {
  animation-name: dim;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
