@keyframes float {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

html {
  background: #291119;
  font: 16px georgia;
  color: #f1f2ed;
}

a {
  transition: all ease 0.1s;
  color: inherit;
  text-decoration: none;
}

a:hover {
  display: block;
  transform: translate(-1px, -1px);
}

/**
 * Hero styles
 */

.hero {
  font: 5rem sabbath-black, georgia;
  text-align: center;
}

/**
 * Directory styles
 */

.directory {
  margin: 0 auto;
  position: relative;
  font: 1.5rem sabbath-black, georgia;
  letter-spacing: 0.15em;
  width: 30%;
}

.directory-index {
  margin: 0;
  padding-right: 20px;
  transform: translateX(-100%);
  position: absolute;
  font-size: 1em;
  font-weight: normal;
}

.directory-listing {
  margin: 0;
  padding: 0;
  list-style: none;
}

.directory-listing li {
  margin: 0.5rem 0;
}

/*
 * Default styles
 */

#sound-button {
  background-repeat: no-repeat;
  position: absolute;
  bottom: 20px;
  left: 20px;
  display: block;
  cursor: pointer;
  width: 32px;
  height: 18px;
}

/*
 * Classes for applying animations
 */

/* moves the element vertically up and down in steps */
.pixel-float-animation {
  animation-name: float;
  animation-duration: 1.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: steps(4, start);
}
