---
title: "doggy zone"
layout: default
---

<h1 class="hero">ワイヤードの犬</h1>

<h2 class="hero-subheading">
  ブログ <a href="https://twitter.com/milkshakemutt">@milkshakemutt</a>
  •
  コード <a href="https://github.com/hundvalp/dog-of-the-wired">hundvalp</a>
</h2>

<section class="directory">
  {% assign yearly_art = site.art | sort: 'date' %}
  {% for art in yearly_art reversed %}
    {% assign currentdate = art.date | date: "%Y" %}
    {% if currentdate != date %}
      {% assign date = currentdate %}

      {% unless forloop.first %}
        </ol>
      {% endunless %}

      <h1 class="directory-index">{{ currentdate }}</h1>
      <ol class="directory-listing">
    {% endif %}

    <li>
      <a href="{{ art.url }}">{{ art.title }}</a>
      {% if art.tags or art.cw %}
        <section class="directory-tags">
          {% for cw in art.cw %}
            <span class="directory-tag cw">{{ cw }}</span>
          {% endfor %}
          {% for tag in art.tags %}
            <span class="directory-tag">{{ tag }}</span>
          {% endfor %}
        </section>
      {% endif %}
    </li>

    {% if forloop.last %}
      </ol>
    {% endif %}
  {% endfor %}
</section>
