---
title: "doggy zone"
layout: default
---

<section class="hero">
  <h1 class="hero-heading">doggy zone</h1>

  <h2 class="hero-subheading">
    blog <a href="https://twitter.com/milkshakemutt">@milkshakemutt</a>
    <br>
    code <a href="https://github.com/milkshakemutt/doggy-zone">@milkshakemutt</a>
  </h2>
</section>

<section class="directory">
  {% assign yearly_art = site.art | sort: 'date' %}
  {% for art in yearly_art reversed %}
    {% assign currentdate = art.date | date: "%Y" %}
    {% if currentdate != date %}
      {% assign date = currentdate %}

      {% unless forloop.first %}
        </ol>
      {% endunless %}

      <h1 class="directory-index">{{ currentdate }}</h1>
      <ol class="directory-listing">
    {% endif %}

    <li>
      <a href="{{ art.url }}">{{ art.title }}</a>
      {% if art.tags or art.cw %}
        <section class="directory-tags">
          {% for cw in art.cw %}
            <span class="directory-tag cw">cw: {{ cw }}</span>
          {% endfor %}
          {% for tag in art.tags %}
            <span class="directory-tag">{{ tag }}</span>
          {% endfor %}
        </section>
      {% endif %}
    </li>

    {% if forloop.last %}
      </ol>
    {% endif %}
  {% endfor %}
</section>
