---
---

@import 'global-colors';
$color-background: #fff;
$color-text: #ff9900;

@import 'global-fonts';
@import 'global';

html {
  background: url('/img/dandelion-friends/carrot-dance.gif');
  background-repeat: repeat;
  background-size: 150px;
}

nav {
  background: $color-background;
}

h1 {
  border-radius: 100px;
  font-family: $font-round;
  font-weight: 800;
  text-align: center;
}
