---
---

@import 'global-colors';
@import 'global-fonts';
@import 'global';

html {
  background-image: url('/img/early-90s-shoegaze/early-90s-shoegaze.jpg');
  background-size: 100%;
}

nav {
  background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);

  .cw {
    background: rgba(255,255,255,0.8);
    border-radius: 100px;
    padding: 0.1ex 1ex;
  }
}
