html {
	background-image: url('/img/theres-no-such-thing/bg.gif');
	background-repeat: repeat;
	font: 14px georgia;
	color: #c4f0be;
	letter-spacing: 0.5em;
}

.quote {
	position: absolute;
	top: 5%;
	left: 10%;
	width: 380px;
}

#dog {
	position: absolute;
	right: 10%;
	bottom: 5%;
}

#sound-button {
  border-color: #c4f0be;
  position: absolute;
  left: 0;
}

/* high-resolution images */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	   only screen and (min-resolution: 2dppx) {
	#dog {
		background-image: url('/img/theres-no-such-thing/dog-of-the-wired-2x.png');
		background-size: 100%;
	}

	#dog img {
		opacity: 0;
	}
}
