html {
  background: $color-background;
  font: 16px $font-body;
  color: $color-text;
}

html, body {
  margin: 0;
  padding: 0;
}

a {
  transition: all ease 0.1s;
  color: inherit;
  text-decoration: none;
  color: $color-accent;

  &:visited {
    color: $color-accent;
  }

  &:hover {
    text-decoration: underline;
  }
}

@import 'animation';

@import 'comic';
@import 'directory';
@import 'hero';
@import 'nav';

@import 'content-warning';
@import 'pip-video';
@import 'quote';
@import 'sound-button';
