<!doctype html>
<html lang="en-us">
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>

  <script src="https://use.typekit.net/ckn6xuu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <link rel="stylesheet" href="/css/global.css">
  {% if page.customCss %}
    <link rel="stylesheet" href="/css/custom/{{ page.customCss }}.css">
  {% endif %}
</head>
<body>
  {{ content }}

  {% if page.youtubeAudio %}
    <iframe
      width="0"
      height="0"
      frameborder="0"
      id="audio-frame"
      src="https://www.youtube.com/embed/{{ page.youtubeAudio }}?loop=1&enablejsapi=1">
    </iframe>

    <script src="/js/global.js"></script>
  {% endif %}
</body>
</html>
